@import "tailwindcss";
/* 
@font-face {
    font-family: "cocFont";
    src: url("/fonts/Clash_Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: "cocFont";
    src: url("/fonts/Clash_bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "cocFont", system-ui, -apple-system, Arial, sans-serif;
}