@import "tailwindcss";

@font-face {
    font-family: "MyFont";
    src: url("/fonts/Clash_Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyFont";
    src: url("/fonts/Clash_bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "MyFont", system-ui, -apple-system, Arial, sans-serif;
}